/* Enter your custom CSS here */
/* Applies to everything */
* {
	font-family: Kalimati, Verdana, sans-serif;
}


/* Headings */
.title {
	color: #666;
	font-size: 46px;
	margin:46px 0 30px 0;
    letter-spacing: 1px;
}

.subtitle {
	color:  #f07c17;
	font-size: 24px;
	margin:0 0 30px 0;
	letter-spacing: 2px;
}


/* Main features */
.features {
	margin: 32px 0;
	border: 1px solid #ccc;
	padding: 30px;	
}

.list-features {
	line-height: 2.3;
	letter-spacing: 1px;
}


/* Body Text */
.body-details {
	font-size: 15.5px;
	line-height: 2;
}